<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel='stylesheet' href="../style.css">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>  
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="../img/logo.png" id="logo" alt="Logo"></a> <!--https://pt.freelogodesign.org/-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="index.html" id="links">Home</a>
                  <a class="nav-link" href="projetos.html" id="links">Projetos</a>
                  <a class="nav-link" href="biografia.html" id="links">Biografia</a>
                  <a class="nav-link" href="creditos.html" id="links">Créditos</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

<!--https://getbootstrap.com.br/docs/4.1/components/progress/-->

    <div id="introducao">

    <h1 id="titulo">Olá mundo!! Meu nome é Mateus.</h1>

    <h3 id="estudo">Estudante do 3° ano do Ensino Médio Profissionalizante na área de Informática.<br/> Qualificação intermediária para desenvolvimento de softwares.</h3>

    </div>

    <div class="aprendizado">

      <h2 id="tituloFrontend">Conhecimento em desenvolvimento Frontend</h2>

      <div class="barra">
        <h3 class="linguagens">HTML</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="html" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
          </div>
      </div>

      <div class="barra">
        <h3 class="linguagens">Css3</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="css" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
          </div>
      </div>

      <div class="barra">
        <h3 class="linguagens">JavaScript</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="js" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
          </div>
      </div>

      <div class="barra">
        <h3 class="linguagens">Bootstrap</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="bootstrap" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">10%</div>
          </div>
      </div>

    </div>

    <div class="aprendizado">

      <h2 id="tituloFrontend">Conhecimento em desenvolvimento Backend</h2>

      <div class="barra">
        <h3 class="linguagens">PHP</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="php" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
      </div>

      <div class="barra">
        <h3 class="linguagens">Banco de dados</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="banco" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
          </div>
      </div>

    </div>

</body>
</html>